@model IEnumerable<Employee>

<section class="album">
    <h1 class="m-3 mainHeader">ALL STAFF</h1>
    @if(Model.Count() == 0)
    {
        <div>
            No employee to display
        </div>
    }
    else
    {
    
        @foreach (var employee in Model)
        {
            <div class="photo">
                <div class="imgBox">
                    <img src="" />
                </div>
                <div class="details">
                    <h2>lorem Ipsor Doloe</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                        necessitatibus. Minima, eius culpa delectus nobis repellendus ut
                        quis quidem voluptatem itaque neque est quia corporis sunt magni
                    </p>
                </div>
            </div>
        }
    }
    
</section>