<section class="text-center" style="background-image: url('~\resources\forbidden.jpg'); background-attachment:fixed;background-position:top;background-size:cover;">

	<h1 class="text-danger" style="font-weight:bold; font-size:5rem;text-decoration:line-through;">Access Denied</h1>
	<div class="text-danger" style="font-size:2rem;">
		You are not authorized to view the resource at this location!
		
	</div>
</section>