

<h1 class="m-3 mainHeaderDetails" style="font-size: calc(2.5rem + 3vw);">ADMINISTRATION</h1>

<section class="features">


    <div class="features-content">
        <div class="r-row">
            <a class="r-column" asp-controller="Administration" asp-action="ListUsers">
                <div class="feature-box">
                    <i class="fa-solid fa-users-gear"></i>
                    <h3 class="column-heading">
                        STAFF MGT
                    </h3>
                    <p class="feature-box__text">
                        Create new application user profiles and modify existing application user profiles
                    </p>
                </div>
            </a>
            <a class="r-column" asp-controller="Administration" asp-action="ListRoles">
                <div class="feature-box">
                    <i class="fa-solid fa-address-card"></i>
                    <h3 class="column-heading">
                        ACCESS CONTROL
                    </h3>
                    <p class="feature-box__text">
                        Create and assign roles to users to control/limit the information they can access
                    </p>
                </div>
            </a>
            <a class="r-column" asp-controller="Administration" asp-action="Index">
                <div class="feature-box">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <h3 class="column-heading">
                        GEOLOCATION MAP
                    </h3>
                    <p class="feature-box__text">
                        Display colour-coded location pins on map for near real-time monitoring of operational statuses of services and facilities
                    </p>
                </div>
            </a>
            <a class="r-column" asp-controller="Administration" asp-action="Index">
                <div class="feature-box">
                    <i class="fa-solid fa-person-digging"></i>
                    <h3 class="column-heading">
                        PROJECTS MGT
                    </h3>
                    <p class="feature-box__text">
                        Monitor progress of ongoing projects till integration
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>