<h1 class="m-3 mainHeaderDetails" style="font-size: calc(2.5rem + 3vw);">FACILITIES</h1>
<section class="features">
    <div class="features-content">
        <div class="r-row">
            <a class="r-column" asp-controller="BTS" asp-action="Index">
                <div class="feature-box">
                    <i class="fa-solid fa-tower-cell"></i>
                    <h3 class="column-heading">
                        BTS
                    </h3>
                    <p class="feature-box__text">
                        Information about the BTS.
                    </p>
                </div>
            </a>
            <a class="r-column" asp-controller="MPLSPoP" asp-action="Index">
                <div class="feature-box">
                    <i class="fa-solid fa-circle-nodes"></i>
                    <h3 class="column-heading">
                        MPLS PoP
                    </h3>
                    <p class="feature-box__text">
                        Information about the MPLS PoP
                    </p>
                </div>
            </a>
            <a class="r-column" asp-controller="Client" asp-action="Index">
                <div class="feature-box">
                    <i class="fa-solid fa-people-group"></i>
                    <h3 class="column-heading">
                        CLIENTS
                    </h3>
                    <p class="feature-box__text">
                        Information about the Clients

                    </p>
                </div>
            </a>
            <a class="r-column" asp-controller="NetworkSwitch" asp-action="Index">
                <div class="feature-box">
                    <i class="fa-solid fa-network-wired"></i>
                    <h3 class="column-heading">
                        SWITCHES
                    </h3>
                    <p class="feature-box__text">
                        Backup configurations for network switches
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>