

<h1 class="m-3 mainHeaderDetails" style="font-size: calc(2.5rem + 3vw);">SERVICE MANAGEMENT</h1>

<section class="features">
    <div class="features-content">
        <div class="r-row">
            <a class="r-column" >
                <div class="feature-box">
                    <i class="fa-solid fa-ticket"></i>
                    <h3 class="column-heading">
                        TROUBLE TICKETING SYSTEM
                    </h3>
                    <p class="feature-box__text">
                        Create ticket to document and track customer issues till resolution
                    </p>
                </div>
            </a>
            <a class="r-column">
                <div class="feature-box">
                    <i class="fa-solid fa-handshake-angle"></i>
                    <h3 class="column-heading">
                        CLIENT MANAGEMENT
                    </h3>
                    <p class="feature-box__text">
                        Create, modify and access customer details
                    </p>
                </div>
            </a>
            <a class="r-column" >
                <div class="feature-box">
                    <i class="fa-solid fa-business-time"></i>
                    <h3 class="column-heading">
                        SERVICE HISTORY
                    </h3>
                    <p class="feature-box__text">
                        Get customer service history from the ticketing system
                    </p>
                </div>
            </a>
            @* <a class="r-column" >
                <div class="feature-box">
                    <i class="fa-solid fa-person-digging"></i>
                    <h3 class="column-heading">
                        PROJECTS MGT
                    </h3>
                    <p class="feature-box__text">
                        Monitor progress of ongoing projects till integration
                    </p>
                </div>
            </a> *@
        </div>
    </div>
</section>