/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 130; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --colourBlack: #000;
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-5: 5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}



/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    min-height: 100vh;
    max-width: 1400px;
    position: relative;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
}



/*==================== LAYOUT ====================*/

header {
    background-color: var(--body-color);
    width: 100%;
    position: sticky;
    /*top: 0;*/
    left: 0;
    z-index: var(--z-fixed);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}


.nav {
    max-width: 90%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

.nav__list {
    color: #28b485; 
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}


.nav__item {
    border: 0.1rem solid var(--body-color);
    border-radius: 0.3rem;
    transition: all 0.3s ease-in 0.1s;
    padding: .1rem .2rem;
}



    .nav__item:hover {
        box-shadow: 0.2rem 0.2rem .4rem 0.2rem #333;
        transform: scale(1.2, 1.2);
        border: 0.1rem solid #333;
    }

    .nav__item:active {
        box-shadow: 0.1rem 0.1rem .2rem 0.1rem #333;
        transform: translateY(0);
    }

    .nav__item#contact {
        border: 0.1rem solid var(--colourGreyLight);
        box-shadow: 0.2rem 0.2rem .4rem 0.2rem #333;
    }

.nav__menu {
    margin-left: auto;
}

.container{
    width: 100% !important;
}

main{
    margin:auto;
}



/*==================== FOOTER ====================*/

.footer {
    background-color: #333;
    padding: calc(1vw + 1rem) 5vw;
    max-width:1400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    z-index:auto;

}


.footer__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(1vw + 1rem);
}


.footer__logo {
    max-width: calc(2vw + 3rem);
}


.footer__navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border-top: 1px solid #fff;
}

.footer__copyright > p {
    text-align: center;
    margin-top: calc(1vw + 1rem);
}


.footer__link:link,
.footer__link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
}

.footer__link:hover,
.footer__link:active {
    color: #28b485;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    transform: scale(1.2);
}


@media screen and (max-width: 750px) {

    :root {
        --big-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
    }

    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);        
        border-radius: 1rem 1rem 0 0;
        
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: inline-block;
    }
    

    .nav{
        padding: 1rem 0;
    }


    .nav__menu {
        position: fixed;
        bottom: -100%;
        width: 90%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;        
    }


    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__icon {
        font-size: 1.5rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--first-color);
    }
          
    .show-menu {
        bottom: 0;
    }

    
    .nav__logo img {
        display: inline-block;
        width: 100%;
        height:auto;
    }


    .nav__toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

   
    .nav__toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__toggle:hover,
    .nav__close:hover {
        color: indianred;
    }

}











