@model string

<a asp-controller="@Model" asp-action="Create" class="fixed-button" style="position: fixed;
        bottom: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        height: calc(4rem + 4vw);
        width: calc(4rem + 4vw);
        background-color: #f24;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        text-shadow: 5px 3px rgba(0, 0, 0, 0.8);
        right: 5vw;
        color: #fff;
        font-size: calc(4rem + 5vw);
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;">
	<i class="bi bi-plus"></i>
</a>