@model string

<a asp-controller="@Model" asp-action="Edit" class="fixed-button" style="font-size:calc(1.5rem + 2vw)">
	@* <i class="bi bi-pencil-fill"></i> *@
	<i class="bi bi-pencil-square"></i>
</a>