@inject SignInManager<ApplicationUser> signInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>@ViewData["Title"] | Tracker</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" asp-suppress-fallback-integrity="true">
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    @* <link rel="stylesheet" href="~/Tracker.styles.css" asp-append-version="true" />  *@
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" />
    <link rel="stylesheet" href="~/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="~/glo_smaller.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/photostyle.css" />
	<link href="~/css/asidestyle.css" rel="stylesheet" />
	<link href="~/css/resources.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header" id="header">
        <nav class="nav">            
                <a asp-controller="Home" asp-action="Index" class="nav__logo" >
                <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">U</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">TrackIt</span>
                </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    
                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>
                    @if(signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Super Admin")))
                    {
                        <li class="nav__item dropdown">
                            <a href="#" class="nav__link dropdown-toggle" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
                            <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-white" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                            </div>
                        </li>
                    }


                    <li class="nav__item" id="contact">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contact Us
                        </a>
                    </li>
                    <li class="nav__item separator">
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    @if (signInManager.IsSignedIn(User))
                    {

                        <li class="nav__item">
                            <form method="post" asp-controller="Account" asp-action="Logout" >
                                <button class="nav__link" type="submit" style="width:auto;border:none;color:#04953b; background-color:transparent;">Logout @User.Identity.Name</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav__item">
                            <a asp-controller="Account" asp-action="Login" class="nav__link">
                                <i class="uil uil-briefcase-alt nav__icon"></i> Login
                            </a>
                        </li>
                        <li class="nav__item">
                            <a asp-controller="Account" asp-action="Register" class="nav__link">
                                <i class="uil uil-briefcase-alt nav__icon"></i> Register
                            </a>
                        </li>
                    }
                </ul>
                
            </div>
                <div class="nav__btns">
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="uil uil-apps"></i>
                    </div>
                </div>            
        </nav>
    </header>

    <aside class="sidebar">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <span class="icon">
                        <i class="bi bi-house"></i>

                    </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a asp-controller="Resources" asp-action="AdminPanel">
                    <span class="icon">
                        <i class="bi bi-person-fill-gear"></i>
                    </span>
                    <span class="text">Admin Panel</span>
                </a>
            </li>

            <li>
                <a asp-controller="Resources" asp-action="Facilities">
                    <span class="icon">
                        <i class="bi bi-tools"></i>
                    </span>
                    <span class="text">Facilities</span>
                </a>
            </li>

            <li>
                <a asp-controller="Resources" asp-action="ServiceManagementPanel">
                    <span class="icon">
                        <i class="bi bi-stack"></i>
                    </span>
                    <span class="text">Service Mgt</span>
                </a>
            </li>
            <li>
                <a asp-controller="Servicemanagement" asp-action="Index">
                    <span class="icon">
                        <i class="bi bi-file-earmark-spreadsheet"></i>
                    </span>
                    <span class="text">Ticketing Sys</span>
                </a>
            </li>
            <li>
                <a asp-controller="Employee" asp-action="Index">
                    <span class="icon">
                        <i class="bi bi-person-fill"></i>
                    </span>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="bi bi-chat"></i>
                    </span>
                    <span class="text">Notification</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="bi bi-graph-up-arrow"></i>
                    </span>
                    <span class="text">Analytics</span>
                </a>
            </li>
               
        </ul>
    </aside>

    <div class="content-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer__logo-box">
            <img src="~/glo_smaller.png" class="footer__logo" alt="full logo" />
        </div>
        <div class="row">
            <ul class="footer__navigation">
                <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Careers</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
            </ul>
                    
            <div class="footer__copyright">                
                <p >
                    <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">U</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">TrackIt</span> &copy; 2023 | All rights reserved.
                </p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
