@if (ViewBag.ErrorTitle == null)
{
    <h3 class="text-white">
        An error occurred while processing your request.<br />
        The support team is notified and working on a fix.
    </h3>
    <h5 class="text-white">You may also contact us via Ges.Spoc@gloworld.com</h5>
}
else
{
    <h1 class="text-danger text-center mb-5">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}


