@{
    ViewData["Title"] = "Not Found";
}

<h1 class="text-center">@ViewData["ErrorMessage"] </h1>

<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn btn-primary">
        Click here to navigate to the home page
    </a>
</div>