@{
    ViewData["Title"] = "Not Found";
}

<h1>@ViewData["ErrorMessage"] </h1>

<a asp-controller="Home" asp-action="Index" class="btn btn btn-primary">
    Click here to navigate to the home page
</a>