

<div class="px-5">

    <p class="text-primary text-center fs-4 mt-5">Welcome to the <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span>&trade; Home Page.
    <p/> 
    
    <p>
        <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span> <span style="border: 2px;">&trade;</span> is a cloud-based trouble ticketing software solution, tailor-made for distributed collaborations. It encompass resource allocation, time accounting, priority management, and oversight workflow in addition to implementing a centralized issue registry.
    </p>
    
    <p>
    Learn more <a href="#" style="text-decoration:none;"><span class="text-primary">about</span></a> <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span>.
    </p>
</div>
