

<section>
    <div class="p-1">

        <h1 class="text-black text-center mt-5">Welcome to the <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span>&trade; Home Page.
        </h1>

        <p>
            <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span> <span style="border: 2px;">&trade;</span> is a cloud-based IT Service Management trouble ticketing software solution, tailor-made for distributed collaborations. 
        </p>

        <p>
            It provides a very effective avenue for organizing of customer complaints (from Emails, phone calls, physical contact etc) and requests and the generation of trouble tickets to track issues till resolutions and closure are obtained.
            <p>
            <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span> <span style="border: 2px;">&trade;</span> helps with delivery of escalation and assignment of issues to appropriate personnel with appropriate monitoring of the quality of work time spent.

            </p>
            <p>
                It provides for statistical analysis of the number of tickets, assignment of a priority to each issue based on the overall importance of that issue, the customer, date of submission, SLA etc and maintaining of a history in a centralized repository.
            </p>
        </p>

        <p>
            Learn more <a href="#" style="text-decoration:none;"><span class="text-primary">about</span></a> <span style="color:#ffe4e4;background-color:#333;border:5px 0 2px 2px; border-style: solid; border-color: #ffe4e4; border-radius:5px;">ish</span><span style="background-color:#ffe4e4; color:#333; padding-right: 2px;">Tracker</span>.
        </p>
    </div>
</section>
