@model CreateRoleViewModel


<section>
    <div class="mt-3 p-3" style="border-radius: 1rem;">
        <div class="text-center">
            <h1 class="mainHeaderDetails">CREATE ROLE</h1>
        </div>
        
        <div class="col-md-10 offset-md-1">

            <form method="post" class="text-black" style="border: 2px solid green; border-radius: 1rem;">
                <div asp-validation-summary="All" class="text-danger fw-normal "></div>

                <div class="form-group row d-flex align-items-center justify-content-center m-3">
                    <div class="col-sm-4 text-black">
                        <label asp-for="RoleName"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger fw-normal"></span>
                    </div>
                </div>

                <div class="hidden">
                    <div class="text-center m-5">
                        <button type="submit" class="btn btn-primary fw-bold">Create Role</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
   
</section>

