@model IEnumerable<CircuitDTO?>

<section>

<form method="get" asp-action="index">

    <h1 id="mainHeader" class="m-3 text-center">Customer Links</h1>

    <table class="table table-striped table-dark" style="max-width:100%">
        <thead>
            <tr>
                    <th class="text-left " style="width:20%;">
                    <a class="text-white" asp-action="index">NAME</a>
                </th>
                    <th class="text-left" style="width:35%;">ADDRESS</th>
                    <th class="text-left" style="width:15%;">SERVICE</th>
                <th class="text-left" style="width:15%;">REVENUE</th>
                <th class="text-center" style="width:15%;">ACTION</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                        <td class="text-left text-warning" style="width:20%;">@item?.CircuitName</td>
                        <td class="text-left text-warning" style="width:35%; word-break:break-word;">@item?.Address</td>
                        <td class="text-left text-warning" style="width:15%;">@item?.ServiceType</td>
                        <td class="text-left text-warning" style="width:15%;">@item?.AnnualRevenue</td>

                    <td style="width:15%; font-size: 2em;">
                        <div class="bts-action-buttons" style="display:flex; justify-content:space-around; align-items:center;">
                            <a asp-controller="BTS" asp-action="Edit" class="text-primary bts-icon-button"><i class="bi bi-pencil-square"></i></a>
                            <a style="text-decoration:none;cursor:pointer;color:#fff;" asp-controller="Client" asp-action="Details" asp-route-id="@item?.Id"><i class="bi bi-eye-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</form>


@await Html.PartialAsync("_CreateNewPartialView","CircuitDTO");

</section>